# Dependencies
**/node_modules/
**/venv/
**/env/
**/.venv/

# Environment variables
**/.env
**/.env.*
!**/.env.example

# Build outputs
**/dist/
**/build/
**/*.pyc
**/__pycache__/

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
